# cargo-deny configuration (https://github.com/EmbarkStudios/cargo-deny)

# Only check for Linux targets
targets = [
    { triple = "x86_64-unknown-linux-gnu" },
    { triple = "x86_64-unknown-linux-musl" },
]

[advisories]
vulnerability = "deny"
yanked = "deny"
unmaintained = "warn"
notice = "warn"

ignore = [
    "RUSTSEC-2020-0071",  # `mongodb` crate not affected by this vulnerability
    "RUSTSEC-2021-0127",  # `serde_cbor` is a dev-dependency (from criterion)
]

[licenses]
unlicensed = "deny"
allow = [
    "MIT",
    "Apache-2.0",
    "ISC",
    "BSD-3-Clause",
    "Zlib",
    "Unicode-DFS-2016",  # unicode-ident
]

private = { ignore = true }  # Ignore workspace crates
exceptions = [
    { name = "ring", allow = ["LicenseRef-ring"] },
    { name = "webpki-roots", allow = ["MPL-2.0"] },
]

[[licenses.clarify]]
name = "ring" # ring is licensed under multiple MIT-like licenses
expression = "LicenseRef-ring"
license-files = [
    { path = "LICENSE", hash = 0xbd0eed23 },
]


[bans]
multiple-versions = "warn"
deny = []

[sources]
unknown-registry = "deny"
unknown-git = "deny"

allow-git = [
    "https://github.com/twilight-rs/twilight",
    "https://github.com/baptiste0928/twilight-interactions",
]
